body {
    text-align: center;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    margin: 10px;
}

#Names {
    font-weight: bold;
}

#Submit {
    margin-top: 20px;
    margin-bottom: 20px;
}

#Sort {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}